@charset "ISO-8859-1";
.custom-bg{
	background:#b39ddb !important;

}
.register-body
{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
  
}
.admin .card{
	border:1px solid #b39ddb;
	
}

.admin .card:hover {
	background:#F8F8F8;
	cursor: pointer;
}
.admin .card .hover-title:hover{
	color: blue;
} 
.list-group-item-action.active{
	background:#b39ddb !important;
	border:#b39ddb;
}
.discount-label{
	
	!important;
	
}